.col-lg-4{
    padding: 5px;
}

.chart-size {
    width: 300px !important; /* Tamaño fijo */
    height: 300px !important; /* Tamaño fijo */
  }

 /* Esto aplica el fondo negro solo a este componente */
:host {
    background-color: rgba(0, 0, 0, 0.241);
    color: white; /* Esto es opcional, para asegurar que el texto sea visible */
    display: block; /* Asegura que el contenedor ocupe todo el espacio disponible */
    min-height: 100vh; /* Hace que el fondo negro cubra toda la altura de la ventana */
  }