.custom-toolbar {
    background-image: url('../../src/assets/img/backgorund-footer.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    padding: 0 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.custom-toolbar .custom-toolbar-separator {
    margin: 0 0.5rem;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
